<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <h2>Loan Calculator</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form">
    <form [formGroup]="calculateForm" (ngSubmit)="submit()" novalidate>
      <ion-item>
        <ion-label position="stacked">Loan Amount:</ion-label>
        <ion-input type="number" [(ngModel)]='amount' formControlName="amount"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && calculateForm.controls.amount.errors?.required">
        *Amount for loan is required
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && calculateForm.controls.amount.errors?.min">
        *Loan amount is between RM1k to RM200K only
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && calculateForm.controls.amount.errors?.max">
        *Loan amount is between RM1k to RM200K only
      </span>
      <ion-item>
        <ion-label>Term</ion-label>
        <ion-select placeholder="Select Terms" [(ngModel)]="terms" formControlName="terms">
          <ion-select-option value=1>1 Year</ion-select-option>
          <ion-select-option value=2>2 Years</ion-select-option>
          <ion-select-option value=3>3 Years</ion-select-option>
          <ion-select-option value=4>4 Years</ion-select-option>
          <ion-select-option value=5>5 Years</ion-select-option>
          <ion-select-option value=6>6 Years</ion-select-option>
          <ion-select-option value=7>7 Years</ion-select-option>
          <ion-select-option value=8>8 Years</ion-select-option>
          <ion-select-option value=9>9 Years</ion-select-option>
          <ion-select-option value=10>10 Years</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Interest Rate:</ion-label>
        <ion-input [disabled]="true" type="number" formControlName="interest">{{interest*100}}%</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Total Interest:</ion-label>
        <ion-input [disabled]="true" type="number" formControlName="totalInterest">{{totalInterest}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Active Loan Account Fees:</ion-label>
        <ion-input [disabled]="true" type="number" formControlName="activeLoanAcc">{{activeLoanAcc}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Total Payment:</ion-label>
        <ion-input [disabled]="true" type="number" formControlName="totalPayment">{{totalPayment}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Monthly Payment:</ion-label>
        <ion-input [disabled]="true" type="number" formControlName="monthlyPayment">{{monthlyPayment}}</ion-input>
      </ion-item>
      <div class="container-form-btn">
        <ion-button expand='block' type="submit">Calculate</ion-button>
      </div>
    </form>
  </div>
  <br>

  <ion-card class="card">
    <ion-card-header>Noted:</ion-card-header>
    <ion-card-content>
      You can pay off your load at any time with no penalty.
      You will only pay interest up to the date you borrow it.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>Documents to be prepare:</ion-card-header>
    <ion-card-content>
      <ion-button expand='block' type="button" routerLink="/documentation">Document Lists</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>