ion-content{
    --background:linear-gradient( to right, #5260ff, #14bee9);
}

ion-card{
    border-radius: 16px;
}

.onerowbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}