<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h2>News</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>8th August 2021</ion-card-subtitle>
      <ion-card-title>#SMELoan Approved A Total of RM3.9 Million</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <ion-img src ="./assets/1.jpg"></ion-img>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
      SMELoan successfully helped a private limited company engaged in consumer goods retail and wholesale business to obtain a total of RM3.9 million in business loans until 2021.
      </ion-label>
    </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>8th August 2021</ion-card-subtitle>
      <ion-card-title>#SMELoan Approved A Total of RM3.08 Million</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <ion-img src ="./assets/2.jpg"></ion-img>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
      SMELoan successfully helped a private limited company engaged in beverage manufacturing and distribution business to obtain a total of RM3.08 million in business loans until 2021.
      </ion-label>
    </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>
