<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contact">
    <img src="/assets/customerservice.jpg">
    <p>Address:</p>
    <p>MUAR MARKETING DIVISION</p>
      <p>NO.8,1ST FLOOR,JALAN PUNCAK 3, 
      PUSAT PERNIAGAAN PARIT BAKAR, 
      84000 MUAR, JOHOR</p>
    <p>SME Hotline : 1700-81-6899</p>
    <p>SME Fax : 1700-81-7567</p>
    <p>Phone Number: +6011- 1504 2915</p>
    <p>Website:</p>
    <p>www.smeloanmalaysia.com</p>
    <p>Email Address:</p>
    <p>sme@smeloanmalaysia.com</p>
    <p>smeloanmalaysia@yahoo.com </p>
  </div>
</ion-content>
