<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <h2>Home</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-img src ="./assets/logo.png"></ion-img>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          SME LOAN MALAYSIA was incorporated in 1999, when a few high ranking bankers with experience and expertise in corporate commercial business loan assessment and processing came together to form their own establishment provides consultation in the loan processing division.
      </ion-label>
    </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>8th August 2021</ion-card-subtitle>
      <ion-card-title>#SMELoan Approved A Total of RM3.9 Million</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <ion-img src ="./assets/1.jpg"></ion-img>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
      SMELoan successfully helped a private limited company engaged in consumer goods retail and wholesale business to obtain a total of RM3.9 million in business loans until 2021.
      </ion-label>
    </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>8th August 2021</ion-card-subtitle>
      <ion-card-title>#SMELoan Approved A Total of RM3.08 Million</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <ion-img src ="./assets/2.jpg"></ion-img>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
      SMELoan successfully helped a private limited company engaged in beverage manufacturing and distribution business to obtain a total of RM3.08 million in business loans until 2021.
      </ion-label>
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
